body {
    background-color: #F8F8FF; /* http://en.wikipedia.org/wiki/Shades_of_white#Ghost_white */
    font-family: "Trebuchet MS" , "Helvetica" , "Arial" , "Verdana" , "sans-serif";
    font-size: 62.5%;
}

#Container {
    position:absolute;
    top:0px;
    left:0px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#cgol {
    overflow:hidden !important;
}


.tab {
    height:80px;
    width: 960px;
}

.buttonGroup {
    background: #eee;
    border: 1px solid #000;
    color: #333;
    float: left;
    height: 55px;
    margin-left: 5px;
	padding: 10px;
    position: relative;
    text-align:left;
    width: auto;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.buttonGroupLabel {
    bottom: 8px;
    display:block;
    left:auto;    
    position:absolute;
    text-align:left;
    width:80%;
}

/* Horizontal line */	
/* http://css-tricks.com/simple-styles-for-horizontal-rules/ */	
div.buttonGroup hr {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    border: 0;
    height: 1px;
}

/* Styles for slider speed controls */
.inputSpeed {
    border:0; 
    color:#f6931f; 
    font-weight:bold;
}

div.sliderText *{
    float: left;
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

div.sliderSpeed {
    float: left;
    width: 200px;
}

/* Rule 30 */
#rule30 {
    overflow:hidden !important;
}